*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuil
.gradle/
.idea/
app/build/
app/libs/
app/*.iml
app/*.gradle
app/*.pro
app/src/androidTest/
app/src/test/
app/src/main/java/com/example/administrator/Test4_3/MainActivity.java
/local.properties
/.idea/workspace.xml
/.idea/libraries
